*{padding-bottom: 0;margin: 0;}
a{text-decoration: none;color: #333;}
.input{float: right;text-align: right;}
.logo{width: 1000px;margin: 0px auto;}
.menu{background-color:#aaa;text-align:center;width:auto;height:40px;padding-top:25px;}
a:link{color: #000}
.menu a{font-size: 16px;color: #fff;}
.banner img{width: 100%;height: auto;text-align: center;}
.main{width: 1000px;margin: 0 auto;}
.m_left{width: 248px;height: 350px ;float: left;border: 1px solid #ccc;margin: auto;}
.m_right{width: 748px;height: 350px; float: right;border: 1px solid #ccc;margin: auto;background: #d2e4b4;}
.list{border: 1px solid #ccc;width: 1000px;margin: auto;}
.list_img{width: 200px;height: 360px; float: left;margin: 10px;padding: 10px;border: 1px solid #ccc;}
.footer{height: 100px;background: #d8ebf1;color: #aaa;text-align: center;clear: both; padding-top: 25px}
.p{font: 20px '微软雅黑' color: #666;text-align: center;}
